<div class="title">
  <span>IPtracker</span>



</div>

<div class="first">
  <div class="f1">
    Your Ip Address:
    {{user.ipAddress}}
    <img [src]="user.flag" alt="">
  </div>
  <div class="f2">
    <div class="time">
     <span> Current Time: {{user.time}}</span>
     <span>{{user.region}}</span>
    </div>
    <div class="location">
      <span>City:{{user.city}}</span>

      <span>Country:{{user.country}}</span>
     <span> {{user.continent}}</span>
    </div>
  </div>


</div>
<div class="footer">

  <div class="ispDetail">
    <span>Organization: {{user.systemOrganization}}</span>
    <span>Isp Name: {{user.ispName}}</span>
  </div>
</div>


